<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Plataforma Web API V2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/abogados">Abogados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/audiencias">Audiencias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/listas_de_acuerdos">Listas de Acuerdos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/peritos">Peritos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/redams">REDAM</a>
            </li>
        </ul>
    </div>
</nav>
